{% extends "base.html" %}
{%block title%}Home{%endblock%}
{%block body%}
	<nav class="navbar navbar-light bg-dark text-white">
		Your Mess is : {{student.Mess_id}}
		<form class="form-inline">
				Current Balance is : <b>{{student.Balance}}</b>
		</form>
	  </nav>
	<br>
	<div class="container">
			<div class="col-xl-12 text-center text-white"><br>
				<h4>Enter Item Name or Id: </h4><br><br></div>
		
			<div class="col-xl-12 text-center">
			<form action="/home	">
			<input type="hidden" value="{{student.Student_id}}" name="sid">
			<input type="text" class="form-control" name="q"><br>
				<button class="btn btn-dark">Search</button>
			</form><br>

			</div>		  
		</div>

	<div class="container-fluid">
		<div class="bg-primary row font-weight-bold">
				<div class="fid col-2">Item Id</div>
				<div class="fname col-6">Item Name</div>
				<div class="price col-2">Item Cost</div>

		</div>
		<br>
		<form action="/orders" method="GET">

		{% for f in food %}
		<div class="bg-info row text-white">
				<div class="fid col-2">{{f.Food_id}}</div>
				<div class="fname col-6">{{f.Name}}</div>
				<div class="price col-2">{{f.Cost}}</div>
				<input class="quantity col-2" min="0" name="{{f.Food_id}}" value="0" type="number">
				
		</div>
		<br>
		{%endfor%}
	</div>
	<input type="hidden" value="{{student.Student_id}}" name="sid">
	<input type='Submit' value="Click here to Order!" class="btn-primary btn col-12">
	</form>
	
{%endblock%}