{% extends "base.html" %}
{%block title%}Home{%endblock%}
{%block body%}
	<nav class="navbar navbar-light bg-dark text-white">
		Your Mess is : {{student.Mess_id}}
		<form class="form-inline">
				Current Balance is : <b>{{student.Balance}}</b>
		</form>
	  </nav>
	<br>
	<div class="container">
			<div class="col-xl-12 text-center text-white"><br>
				<h4>Enter Item Name or Id: </h4><br><br></div>
		
			<div class="col-xl-12 text-center">
			<form action="/home	">
			<input type="hidden" value="{{student.Student_id}}" name="sid">
			<input type="text" class="form-control" name="q"><br>
				<button class="btn btn-primary">Submit</button>
			</form><br>

			</div>		  
		</div>

	<div class="container-fluid">
		<div class="bg-primary row font-weight-bold">
				<div class="fid col-2">Item Id</div>
				<div class="fname col-6">Item Name</div>
				<div class="price col-2">Item Cost</div>

		</div>
		<br>
		<form action="/order" method="POST">
		{% for f in food %}
		<div class="bg-info row">
				<div class="fid col-2">{{f.Food_id}}</div>
				<div class="fname col-6">{{f.Name}}</div>
				<div class="price col-2">{{f.Cost}}</div>
				<div class="price col-2">
					<input type="number class="form-control"" name="{{f.Food_id}}_quantity" placeholder=0 width=2>
				</div>
		</div>
		</form>
		<br>
		{%endfor%}
	</div>
{%endblock%}